    
    <!-- Footer -->
    <footer class="footer" style="background-image: url('{{ cosmic.object.footer.metadata.footer_bg.url }}')">
        <div class="text-center">
            <img class="img-fluid logo" src="{{ cosmic.object.logos.metadata.text_logo.url }}" alt="">
        </div>
        <div class="text-center">
                <ul class="footer nav navbar-nav">
                  <li><a href="#">Home</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/about">Our Team</a></li>
                      <li><a href="/about#mission">Our Mission</a></li>
                      <li><a href="/about#promise">Our Promise</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/listings">Coming Soon</a></li>
                      <li><a href="/listings">Active</a></li>
                      <li><a href="/listings">Sold</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Legal</a></li>
                </ul>
        </div>
<!--             <div class="row text-center">
                <div class="col-md-4 footer-contact-details">
                    <h4><i class="fa fa-phone"></i> Call</h4>
                    <p>413.348.6339</p>
                </div>
                <div class="col-md-4 footer-contact-details">
                    <h4><i class="fa fa-map-marker"></i> Visit</h4>
                    <p>425 W. North Ave.
                        <br>Chicago, IL 60610</p>
                </div>
                <div class="col-md-4 footer-contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:mail@example.com">isloma@jamesonsir.com</a>
                    </p>
                </div>
            </div> -->
            <div class="row footer-social text-center">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li class="header">
                          <h6 style="font-weight:bold;font-family:'freight-sans-pro',helvetica,sans-serif; margin:25px 0;">Connect With Us</h6>                          
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-phone fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li>
                    </ul>
                    <p class="copyright text-center" style="font-weight:bold;font-family:'freight-sans-pro',helvetica,sans-serif; margin:25px 0;">&copy;&nbsp;&nbsp;{{ year }} Sloma Real Estate Group</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="{{ cosmic.object.logos.metadata.jameson_logo.url }}" alt="" width="250px">
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img src="{{ cosmic.object.logos.metadata.equal_logo.url }}" alt="" width="50px">
                        </li>
                        <li class="list-inline-item" style="width:25px;"></li>
                        <li class="list-inline-item">
                            <img src="{{ cosmic.object.logos.metadata.realtor_logo.url }}" alt="" width="50px">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

        <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="vendor/vide/jquery.vide.min.js"></script>
    <!-- <script src="vendor/mixitup/mixitup.min.js"></script>-->
    <script src="vendor/wowjs/wow.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/contact_me.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Custom scripts for this theme -->
    <script src="js/vitality.js"></script>
    <!--<script src="js/vitality-mixitup.js"></script>-->


    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
      $('.card').on('click', function() {
        var href = $(this).data('href');
        if (href)
          window.location.href = href;
      });
    });
    </script>


</body>

</html>
